footer {
    background-color: var(--secondary-color);
    color: var(--white);
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news h5{
    font-weight: 400;
    padding: 1.5rem 3.5rem;
    text-align: center;
}

.news #newsletterForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.7rem;
}

#newsletterForm input {
    padding: .5rem;
    width: 300px;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: .5rem;
    border-radius: 30px;
    border: none;
}

#newsletterForm button {
    width: 200px;
    display: block;
    margin:0 auto;
    border-radius: 20px;
    padding: .6rem;
    background-color: var(--primary-color);
    color: var(--white)
}

#newsletterForm button:active {
    background-color: #da711c;
}

.sociais p {
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.fa-brands {
    width: 30px;
    margin: .3rem
}

.fa-brands:hover {
    color: #9e540a;
}

@media (min-width: 481px) and (max-width: 1023px) {
    .news h5 {
        font-size: 1.5rem;
        padding: 1rem 3rem;
    }

    #newsletterForm input {
        width: 600px;
        height: 30px;
        font-size: 1rem;
    }

    #newsletterForm button {
        width: 300px;
        font-size: 1.5rem;
        border-radius: 40px;
    }

    .sociais p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .news h5 {
        font-size: 1.3rem;
    }
    #newsletterForm input {
        width: 800px;
        height: 30px;
        font-size: 1rem;
    }

    #newsletterForm button {
        width: 300px;
        font-size: 1.4rem;
        border-radius: 40px;
        cursor: pointer;
        transition: .2s ease-in-out;
        color: var(--shadow)
    }

    #newsletterForm button:hover {
        background-color: var(--primary-color);
        color: var(--white)
    }

    .telefone-opcoes {
        display: flex;
        justify-content: center;
    }
}