header {
    background-color: var(--black);
    box-shadow: 0px 3px 10px var(--shadow);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    color: var(--white);
    font-size: 1.7rem;
}

.logo p span {
    font-style: italic;
    color: var(--primary-color);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--white);
    font-weight: 400;
}

.nav-link:hover {
    color: var(--hover-secondary-color);
    transition: .3s;
}

.buttons {
    display: flex;
}

.login-button {
    margin-right: 1.8rem;
}
.login-button button {
    border: none;
    padding: .7rem 1rem;
    border-radius: 5px;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.login-button button:hover {
    background-color: var(--hover-secondary-color);
    transition: .2s ease-in-out;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* parte responsiva  celular */
@media screen and (max-width: 480px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
        font-size: 1.3rem;
    }
    .mobile-menu .login-button {
        display: block;
        width: 250px;
        margin: 0 auto;
        padding: .3rem
    }

    .mobile-menu .login-button:last-child {
        padding-bottom: 1rem
    }

    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}

/* parte responsiva tablet */
@media (min-width: 481px) and (max-width: 1023px) {
    .nav-bar {
        display: flex;
        justify-content: center;
        padding: 1rem
    }

    .buttons {
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-left: 1rem;
    }
}